.review-rateing{
    background: #131212;
}
.center-d{
    display: flex;
    justify-content: center !important;
}
.grid-review{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


@media screen and (max-width: 730px ){
    .grid-review{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}